@model IEnumerable<DapperDataAccessLayer.TicketModel>

@{
    ViewData["Title"] = "View";
}

<h1 style="color:aqua">Ticket Details</h1>

<p>
    <a asp-action="Create" style="color:red">New Ticket</a>
</p>

<table class=" table table-striped table-hover">
    

        <thead>
            <tr class="table-info" >
                <th style="display:none">
                    @Html.DisplayNameFor(model => model.PassengerID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TicketNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PassengerName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PHNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EmailID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.JourneyDate)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="table-bordered">
                    
                        <td style="display:none">
                            @Html.DisplayFor(modelItem => item.PassengerID)
                        </td>
                    
                        <td>
                            @Html.DisplayFor(modelItem => item.TicketNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PassengerName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PHNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EmailID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.JourneyDate)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.PassengerID }) |
                            @Html.ActionLink("Details", "Details", new { id = item.PassengerID }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.PassengerID })
                        </td>                    
                </tr>
            }
        </tbody>
    </table>
        
